@keyframes fadeInTop {

    0%{ top:-8rem;
        opacity:0;}
    100%{top:0;
         opacity:1;
        }
}

@keyframes fadeInBottom {

    0%{ bottom:-8rem;
        opacity:0;}
    100%{bottom:0;
         opacity:1;
        }
}

@keyframes fadeInLeft {

    0%{ left:-8rem;
        opacity:0;}
    100%{left:0;
         opacity:1;
        }
}

@keyframes opacityAnimation {
    0%{ opacity:0;}
    100%{opacity:1;}
}