.title {
  font-family: "Courgette", cursive;
  font-size: 4rem;
  font-weight: 100;
  text-align: center; }

.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 100; }

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 100; }

/*
breakpoint for differents devices 
0-600px --> phone
601px-900px --> tablet portrait
901px-1200px --> tablet landscape
1201px - more --> bigger devices 
*/
/*Breakpoints Names
phone
tab-por
tab-land
big-screen
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.fullLayout {
  display: grid;
  grid-template-rows: minmax(min-content, 6rem) 95vh repeat(5, minmax(min-content, 20rem)) minmax(min-content, 6rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media (max-width: 37.5em) {
    .fullLayout {
      grid-template-columns: [full-start] minmax(1.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1.5rem, 1fr) [full-end]; } }
  .fullLayout .header {
    background: #ffab91;
    display: grid;
    grid-column: full-start / full-end;
    justify-items: center; }
    .fullLayout .header .navbar {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%; }
      @media (max-width: 37.5em) {
        .fullLayout .header .navbar {
          grid-template-columns: 1fr;
          text-align: center; } }
      .fullLayout .header .navbar__logo--header {
        color: #000000;
        font-family: "Courgette", cursive;
        font-size: 3rem; }
      .fullLayout .header .navbar__listLinks li {
        float: right;
        padding: 2rem;
        list-style: none; }
        @media (max-width: 37.5em) {
          .fullLayout .header .navbar__listLinks li {
            float: none;
            padding: 0.5rem; } }
        .fullLayout .header .navbar__listLinks li .links {
          color: #000000;
          text-decoration: none;
          font-family: "Raleway", sans-serif;
          font-size: 1.5rem; }
  .fullLayout .showcase {
    grid-column: full-start/full-end;
    background: linear-gradient(to right bottom, rgba(16, 32, 39, 0.2), rgba(16, 32, 39, 0.4)), url("../Gallery/showcase3.jpeg");
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center; }
    .fullLayout .showcase__message {
      color: #ffffff;
      text-align: center; }
      .fullLayout .showcase__message--heading {
        font-size: 8rem;
        font-family: "Courgette", cursive;
        font-weight: 100; }
        @media (max-width: 37.5em) {
          .fullLayout .showcase__message--heading {
            font-size: 5rem; } }
      .fullLayout .showcase__message--subHeading {
        font-size: 3rem;
        font-family: "Raleway", sans-serif;
        font-weight: 100; }
        @media (max-width: 37.5em) {
          .fullLayout .showcase__message--subHeading {
            font-size: 2rem; } }
  .fullLayout .firstSection {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: 1.5rem;
    padding: 6rem 0; }
    @media (max-width: 37.5em) {
      .fullLayout .firstSection {
        grid-template-columns: 1fr;
        padding: 3rem 0;
        grid-gap: 2rem; } }
    .fullLayout .firstSection__content {
      display: grid;
      align-items: center;
      text-align: center; }
    .fullLayout .firstSection__images {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-gap: 0.5rem; }
      @media (max-width: 37.5em) {
        .fullLayout .firstSection__images {
          height: 24rem;
          width: 100%; } }
      .fullLayout .firstSection__images img {
        height: 45rem;
        max-width: 100%;
        object-fit: cover; }
        @media (max-width: 37.5em) {
          .fullLayout .firstSection__images img {
            height: 20rem; } }
  .fullLayout .secondSection {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
    @media (max-width: 37.5em) {
      .fullLayout .secondSection {
        grid-template-columns: 1fr;
        padding: 5rem 0; } }
    .fullLayout .secondSection__image img {
      height: 50rem;
      width: 100%;
      object-fit: cover; }
      @media (max-width: 37.5em) {
        .fullLayout .secondSection__image img {
          height: 40rem; } }
    .fullLayout .secondSection__text {
      align-self: center;
      justify-self: center;
      text-align: center;
      font-size: 2rem; }
  .fullLayout .menu {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    padding: 6rem 0;
    align-items: center;
    text-align: center; }
    @media (max-width: 37.5em) {
      .fullLayout .menu {
        grid-template-columns: 1fr; } }
    .fullLayout .menu__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; }
      .fullLayout .menu__images--photos img {
        height: 20rem;
        width: 100%;
        object-fit: cover; }
        @media (max-width: 37.5em) {
          .fullLayout .menu__images--photos img {
            height: 15rem; } }
    .fullLayout .menu__content {
      padding: 2rem;
      align-self: center; }
  .fullLayout .thirdSection {
    grid-column: full-start/full-end;
    background: url("../Gallery/showcase2.jpeg");
    background-position: center;
    background-size: cover; }
    @media (max-width: 37.5em) {
      .fullLayout .thirdSection {
        padding: 2rem 0; } }
    .fullLayout .thirdSection .menuShow {
      width: 73.7%;
      margin: 0 auto;
      display: grid;
      justify-items: center;
      padding: 5rem;
      background: rgba(55, 71, 79, 0.7); }
      @media (max-width: 37.5em) {
        .fullLayout .thirdSection .menuShow {
          padding: 1rem;
          width: 100%; } }
      .fullLayout .thirdSection .menuShow__items--content {
        margin: 5rem 0;
        color: #ffffff;
        padding: 2rem; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__items--content {
            padding: 0; } }
      .fullLayout .thirdSection .menuShow__menuTable {
        width: 100%; }
        .fullLayout .thirdSection .menuShow__menuTable th, .fullLayout .thirdSection .menuShow__menuTable td {
          font-size: 1.8rem;
          text-align: left; }
          .fullLayout .thirdSection .menuShow__menuTable th:not(:last-child), .fullLayout .thirdSection .menuShow__menuTable td:not(:last-child) {
            padding: 0.2rem  35rem 0 0; }
            @media (max-width: 37.5em) {
              .fullLayout .thirdSection .menuShow__menuTable th:not(:last-child), .fullLayout .thirdSection .menuShow__menuTable td:not(:last-child) {
                padding: 0.2rem  15rem 0 0; } }
          @media (max-width: 37.5em) {
            .fullLayout .thirdSection .menuShow__menuTable th, .fullLayout .thirdSection .menuShow__menuTable td {
              font-size: 1.5rem; } }
      .fullLayout .thirdSection .menuShow__menuExtras {
        width: 100%; }
        .fullLayout .thirdSection .menuShow__menuExtras th, .fullLayout .thirdSection .menuShow__menuExtras td {
          font-size: 1.8rem;
          text-align: left; }
          .fullLayout .thirdSection .menuShow__menuExtras th:not(:last-child), .fullLayout .thirdSection .menuShow__menuExtras td:not(:last-child) {
            padding: 0.2rem  17rem 0 0; }
            @media (max-width: 37.5em) {
              .fullLayout .thirdSection .menuShow__menuExtras th:not(:last-child), .fullLayout .thirdSection .menuShow__menuExtras td:not(:last-child) {
                padding: 0rem  1rem 0 0; } }
          @media (max-width: 37.5em) {
            .fullLayout .thirdSection .menuShow__menuExtras th, .fullLayout .thirdSection .menuShow__menuExtras td {
              font-size: 1.5rem; } }
      .fullLayout .thirdSection .menuShow__items--extras {
        margin: 5rem 0;
        color: #ffffff;
        padding: 2rem; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__items--extras {
            padding: 0; } }
      .fullLayout .thirdSection .menuShow__message {
        width: 40%;
        padding: 5rem 0;
        text-align: center; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__message {
            width: 80%; } }
        .fullLayout .thirdSection .menuShow__message--span {
          color: #ffffff; }
  .fullLayout .information {
    grid-column: full-start/full-end;
    background: #ffab91;
    padding: 4rem;
    display: grid;
    justify-items: center; }
    @media (max-width: 37.5em) {
      .fullLayout .information {
        display: block; } }
    .fullLayout .information__reviews {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1rem;
      text-align: center;
      width: 80%; }
      @media (max-width: 37.5em) {
        .fullLayout .information__reviews {
          display: block;
          margin: 0 auto; } }
      .fullLayout .information__reviews--review1 {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center; }
        .fullLayout .information__reviews--review1 img {
          height: 31rem;
          width: 55%;
          object-fit: cover;
          clip-path: circle(50% at 50%); }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review1 img {
              height: 24rem;
              width: 100%; } }
      .fullLayout .information__reviews--review2 {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 4rem 0; }
        .fullLayout .information__reviews--review2 img {
          height: 31rem;
          width: 55%;
          object-fit: cover;
          clip-path: circle(50% at 50%); }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review2 img {
              height: 24rem;
              width: 100%; } }
      .fullLayout .information__reviews--review3 {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 4rem 0; }
        .fullLayout .information__reviews--review3 img {
          height: 31rem;
          width: 55%;
          object-fit: cover;
          clip-path: circle(50% at 50%); }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review3 img {
              height: 24rem;
              width: 100%; } }
  .fullLayout .footer {
    background: #ffab91;
    grid-column: full-start/full-end;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem; }
    .fullLayout .footer__icons {
      font-size: 2.5rem;
      text-align: center; }
      .fullLayout .footer__icons--span {
        font-size: 1rem; }
