.title {
  font-family: "Courgette", cursive;
  font-size: 4rem;
  font-weight: 100;
  text-align: center; }

.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 100; }

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 100; }

/*
breakpoint for differents devices 
0-600px --> phone
601px-900px --> tablet portrait
901px-1200px --> tablet landscape
1201px - more --> bigger devices 
*/
/*Breakpoints Names
phone
tab-por
tab-land
big-screen
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.fullLayout {
  display: grid;
  grid-template-rows: minmax(min-content, 6rem) 95vh repeat(5, minmax(min-content, 20rem)) minmax(min-content, 6rem);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  transition: margin-left 0.3s ease-in;
  overflow-x: hidden; }
  @media (max-width: 37.5em) {
    .fullLayout {
      grid-template-columns: [full-start] minmax(1.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1.5rem, 1fr) [full-end]; } }
  .fullLayout .header {
    background: #ffc107;
    display: grid;
    grid-column: full-start / full-end;
    justify-items: center;
    position: fixed;
    width: 100%; }
    @media (max-width: 37.5em) {
      .fullLayout .header {
        padding: 2rem; } }
    .fullLayout .header .navbar {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%; }
      @media (max-width: 37.5em) {
        .fullLayout .header .navbar {
          grid-template-columns: 1fr 1fr;
          align-items: center;
          width: 100%; } }
      .fullLayout .header .navbar__logo--header {
        color: #000000;
        font-family: "Courgette", cursive;
        font-size: 3rem; }
      @media (max-width: 37.5em) {
        .fullLayout .header .navbar__listLinks {
          display: none; } }
      .fullLayout .header .navbar__listLinks li {
        float: right;
        padding: 2rem;
        list-style: none;
        transition: background 0.2s ease-in; }
        .fullLayout .header .navbar__listLinks li:hover {
          background: #c79100;
          cursor: pointer; }
        .fullLayout .header .navbar__listLinks li .links {
          color: #000000;
          text-decoration: none;
          font-family: "Raleway", sans-serif;
          font-size: 1.5rem; }
      .fullLayout .header .navbar__linkResponsive {
        display: none;
        position: relative;
        cursor: pointer;
        justify-self: center; }
        .fullLayout .header .navbar__linkResponsive:hover > .navbar__linkResponsive--bar1 {
          transform: translateY(-0.3rem); }
        .fullLayout .header .navbar__linkResponsive:hover > .navbar__linkResponsive--bar3 {
          transform: translateY(0.3rem); }
        .fullLayout .header .navbar__linkResponsive--bar1, .fullLayout .header .navbar__linkResponsive--bar2, .fullLayout .header .navbar__linkResponsive--bar3 {
          height: 0.4rem;
          width: 4.5rem;
          background: #102027;
          position: absolute;
          left: 0;
          padding: 0.25rem;
          transition: all 0.3s ease; }
        .fullLayout .header .navbar__linkResponsive--bar1 {
          top: -0.8rem; }
        .fullLayout .header .navbar__linkResponsive--bar2 {
          top: 0; }
        .fullLayout .header .navbar__linkResponsive--bar3 {
          top: 0.8rem; }
        @media (max-width: 37.5em) {
          .fullLayout .header .navbar__linkResponsive {
            display: block; } }
  .fullLayout .showcase {
    height: 100vh;
    grid-column: full-start/full-end;
    background: linear-gradient(to right bottom, rgba(16, 32, 39, 0.2), rgba(16, 32, 39, 0.4)), url("../Gallery/showcase3.jpeg");
    background: -webkit-linear-gradient(to right bottom, rgba(16, 32, 39, 0.2), rgba(16, 32, 39, 0.4)), url("../Gallery/showcase3.jpeg");
    background: -o-linear-gradient(to right bottom, rgba(16, 32, 39, 0.2), rgba(16, 32, 39, 0.4)), url("../Gallery/showcase3.jpeg");
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center; }
    .fullLayout .showcase__message {
      color: #ffffff;
      text-align: center; }
      .fullLayout .showcase__message--heading {
        font-size: 8rem;
        font-family: "Courgette", cursive;
        font-weight: 100; }
        @media (max-width: 37.5em) {
          .fullLayout .showcase__message--heading {
            font-size: 5rem; } }
      .fullLayout .showcase__message--subHeading {
        font-size: 3rem;
        font-family: "Raleway", sans-serif;
        font-weight: 100; }
        @media (max-width: 37.5em) {
          .fullLayout .showcase__message--subHeading {
            font-size: 2rem; } }
  .fullLayout .firstSection {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: 1.5rem;
    padding: 6rem 0; }
    @media (max-width: 37.5em) {
      .fullLayout .firstSection {
        grid-template-columns: 1fr;
        padding: 3rem 0;
        grid-gap: 2rem; } }
    .fullLayout .firstSection__content {
      display: grid;
      align-items: center;
      text-align: center; }
    .fullLayout .firstSection__images {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-gap: 0.5rem; }
      @media (max-width: 37.5em) {
        .fullLayout .firstSection__images {
          height: 24rem;
          width: 100%; } }
      .fullLayout .firstSection__images img {
        height: 45rem;
        max-width: 100%;
        object-fit: cover; }
        @media (max-width: 37.5em) {
          .fullLayout .firstSection__images img {
            height: 20rem; } }
  .fullLayout .secondSection {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
    @media (max-width: 37.5em) {
      .fullLayout .secondSection {
        grid-template-columns: 1fr;
        padding: 5rem 0; } }
    .fullLayout .secondSection__image img {
      height: 50rem;
      width: 100%;
      object-fit: cover; }
      @media (max-width: 37.5em) {
        .fullLayout .secondSection__image img {
          height: 30rem; } }
    .fullLayout .secondSection__text {
      align-self: center;
      justify-self: center;
      text-align: center;
      font-size: 2rem; }
  .fullLayout .menu {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    padding: 6rem 0;
    align-items: center;
    text-align: center; }
    @media (max-width: 37.5em) {
      .fullLayout .menu {
        grid-template-columns: 1fr; } }
    .fullLayout .menu__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; }
      .fullLayout .menu__images--photos img {
        height: 20rem;
        width: 100%;
        object-fit: cover; }
        @media (max-width: 37.5em) {
          .fullLayout .menu__images--photos img {
            height: 15rem; } }
    .fullLayout .menu__content {
      padding: 2rem;
      align-self: center; }
  .fullLayout .thirdSection {
    grid-column: full-start/full-end;
    background-image: url("../Gallery/showcase2.jpeg");
    background-position: center;
    background-size: cover; }
    .fullLayout .thirdSection .menuShow {
      width: 73.7%;
      margin: 0 auto;
      display: grid;
      justify-items: center;
      padding: 5rem;
      background: rgba(16, 32, 39, 0.7); }
      @media (max-width: 37.5em) {
        .fullLayout .thirdSection .menuShow {
          padding: 1rem;
          width: 100%; } }
      .fullLayout .thirdSection .menuShow__items--content {
        margin: 5rem 0;
        color: #ffffff;
        padding: 2rem; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__items--content {
            padding: 0; } }
      .fullLayout .thirdSection .menuShow__menuTable {
        width: 100%; }
        .fullLayout .thirdSection .menuShow__menuTable th, .fullLayout .thirdSection .menuShow__menuTable td {
          font-size: 1.8rem;
          text-align: left; }
          .fullLayout .thirdSection .menuShow__menuTable th:not(:last-child), .fullLayout .thirdSection .menuShow__menuTable td:not(:last-child) {
            padding: 0.2rem  35rem 0 0; }
            @media (max-width: 37.5em) {
              .fullLayout .thirdSection .menuShow__menuTable th:not(:last-child), .fullLayout .thirdSection .menuShow__menuTable td:not(:last-child) {
                padding: 0.2rem  15rem 0 0; } }
          @media (max-width: 37.5em) {
            .fullLayout .thirdSection .menuShow__menuTable th, .fullLayout .thirdSection .menuShow__menuTable td {
              font-size: 1.5rem; } }
      .fullLayout .thirdSection .menuShow__menuExtras {
        width: 100%; }
        .fullLayout .thirdSection .menuShow__menuExtras th, .fullLayout .thirdSection .menuShow__menuExtras td {
          font-size: 1.8rem;
          text-align: left; }
          .fullLayout .thirdSection .menuShow__menuExtras th:not(:last-child), .fullLayout .thirdSection .menuShow__menuExtras td:not(:last-child) {
            padding: 0.2rem  17rem 0 0; }
            @media (max-width: 37.5em) {
              .fullLayout .thirdSection .menuShow__menuExtras th:not(:last-child), .fullLayout .thirdSection .menuShow__menuExtras td:not(:last-child) {
                padding: 0rem  1rem 0 0; } }
          @media (max-width: 37.5em) {
            .fullLayout .thirdSection .menuShow__menuExtras th, .fullLayout .thirdSection .menuShow__menuExtras td {
              font-size: 1.5rem; } }
      .fullLayout .thirdSection .menuShow__items--extras {
        margin: 5rem 0;
        color: #ffffff;
        padding: 2rem; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__items--extras {
            padding: 0; } }
      .fullLayout .thirdSection .menuShow__message {
        width: 40%;
        padding: 5rem 0;
        text-align: center; }
        @media (max-width: 37.5em) {
          .fullLayout .thirdSection .menuShow__message {
            width: 80%; } }
        .fullLayout .thirdSection .menuShow__message--span {
          color: #ffffff; }
  .fullLayout .information {
    grid-column: full-start/full-end;
    background: #ffc107;
    padding: 4rem;
    display: grid;
    justify-items: center; }
    @media (max-width: 37.5em) {
      .fullLayout .information {
        display: block; } }
    .fullLayout .information__reviews {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 3rem;
      text-align: center;
      width: 80%; }
      @media (max-width: 37.5em) {
        .fullLayout .information__reviews {
          display: block;
          margin: 0 auto;
          width: 100%; } }
      .fullLayout .information__reviews--review1 {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
        padding: 4rem 1rem; }
        .fullLayout .information__reviews--review1 .img--review1 {
          height: 35rem;
          width: 35rem;
          background: url("../Gallery/image2.jpeg");
          background-size: cover;
          background-position: center;
          margin: 0 auto;
          border-radius: 50%; }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review1 .img--review1 {
              height: 25rem;
              width: 25rem; } }
      .fullLayout .information__reviews--review2 {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 4rem 1rem; }
        .fullLayout .information__reviews--review2 .img--review2 {
          height: 35rem;
          width: 35rem;
          background: url("../Gallery/imagen3.jpeg");
          background-size: cover;
          background-position: center;
          margin: 0 auto;
          border-radius: 50%; }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review2 .img--review2 {
              height: 25rem;
              width: 25rem; } }
      .fullLayout .information__reviews--review3 {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 4rem 0;
        text-align: center; }
        .fullLayout .information__reviews--review3 .img--review3 {
          height: 35rem;
          width: 35rem;
          background: url("../Gallery/imagen4.jpeg");
          background-size: cover;
          background-position: center;
          margin: 0 auto;
          border-radius: 50%; }
          @media (max-width: 37.5em) {
            .fullLayout .information__reviews--review3 .img--review3 {
              height: 25rem;
              width: 25rem; } }
  .fullLayout .footer {
    background: #ffc107;
    grid-column: full-start/full-end;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem; }
    .fullLayout .footer__icons {
      font-size: 2.5rem;
      text-align: center; }
      .fullLayout .footer__icons--span {
        font-size: 1rem; }

.sideBar {
  background-color: rgba(16, 32, 39, 0.9);
  height: 100vh;
  left: 0;
  position: fixed;
  transition: all 0.3s ease-in;
  width: 0;
  opacity: 0;
  bottom: 0; }
  .sideBar__content {
    width: 0;
    height: 100%;
    position: relative;
    transition: all 0.1s ease-in; }
    .sideBar__content #iconClose {
      color: #ffc107;
      font-size: 3rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
      cursor: pointer; }
    .sideBar__content--listLinks {
      left: 50%;
      list-style: none;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%; }
      .sideBar__content--listLinks a:visited, .sideBar__content--listLinks a:link, .sideBar__content--listLinks a {
        color: white;
        display: none;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1.5rem 12rem;
        transition: all 0.3s ease-in; }
        .sideBar__content--listLinks a:visited:hover, .sideBar__content--listLinks a:link:hover, .sideBar__content--listLinks a:hover {
          background: #ffc107;
          color: #102027;
          font-size: 1.7rem; }

.sideBarShow {
  display: block;
  opacity: 1;
  width: 30rem; }

.sideBarContentt {
  opacity: 1;
  width: 100%; }

.fullLayoutLeft {
  margin-left: 30rem; }
